.row {
    color: white;
    margin-left: 20px;
}

.row__posters {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    margin: 0 10px 0 0;
}

.row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge {
    max-height: 300px;
}

.row__posterLarge:hover {
    transform: scale(1.10);
    opacity: 1;
}